@media only screen and (min-width: 60em) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: none;
    }
  
    section #first_topic {
      grid-column: 1;
      grid-row: none;
    }
  
    section #second_topic {
      grid-column: 2;
      grid-row: none;
    }
  
    section #third_topic {
      grid-column: 3;
      grid-row: none;
    }
  
    img #third {
      width: auto;
      height: 622px;
    }
  
    img {
      width: 350px;
    }
  }