@media only screen and (min-width: 32.5em) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1em;
    }
  
    section,
    footer {
      margin: 10px 0px;
    }
  
    section #first_topic {
      grid-column: 1;
      grid-row: 1;
    }
  
    section #second_topic {
      grid-column: 2;
      grid-row: 1;
    }
  
    section #third_topic {
      grid-column: 1/3;
      grid-row: 2;
    }
  
    #third {
      width: 100%;
      height: auto;
    }
  }