body {
    margin: 20px auto;
    max-width: 100%;
  }
  
  body,
  main {
    background-color: white;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    background-color: aqua;
  }
  
  header,
  h3 {
    font-family: 'Lora', serif;
  }
  
  header,
  footer {
    text-align: center;
    background-color: blue;
    padding: 10px 0px;
    color:white;
  }
  
  section,
  img {
    border: 1px solid beige;
  }
  
  section,
  footer {
    margin: 10px;
  }
  
  section {
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px 20px;
  }
  
  img {
    width: 100%;
    height: auto;
    justify-self: center;
    border: 1px solid blanchedalmond;
    margin-top: 10px;
  }
  
  p,
  footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }
  
  img p {
    padding-bottom: 15px;
  }