 * {
	margin: 0;
	padding: 0;
	
} 

body {
	font-size: 16px;
    max-width: 100%;
    text-align: center;
}

header,
footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: .75rem;
    background-color:#141BE7;
    color: white;
}

footer{
    margin-top: 10px;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 1.2rem;
}

h2 {
	font-family: 'Lora', serif;
	font-size: 1rem;
}

h3 {
	font-family: 'Lora', serif;
	font-size: .9rem;
} 

p {
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, p {
	padding: .5rem;
}

img {
	width: 250px;
	height: 46px;
}

nav {
	background-color: #141BE7;
	margin: 0 auto;
	max-width: 100%;
}
 nav ul {
	list-style-type: none;
	overflow: hidden;
} 
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1rem;
}

nav a:hover {
	background-color: #19da36;
} 


main {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 20px;
}
table {
  width: 90%;
  align-items: center;
}


.primary {
	background-color:#141BE7;
}
  
.secondary {
	background-color: #19da36;
}
  
.accent1 {
	background-color: #ABC7E1;
}
.accent2 {
	background-color: #FFFFFF;
}

.sample1{
	color: #FFFFFF;
  	background-color: #141BE7;
  	font-size: 40px;
}
.sample2 {
	background-color: #141BE7;
	color: #FFFFFF;
	font-size: 24px;
  }
.sample7 {
  color: #FFFFFF;
  background-color: #141BE7;
  font-size: 20px;
}


.sample3{
	background-color: #ffffff;
  	color: #000;
	font-size: 35px;
}
.sample4{
	background-color: #ffffff;
  	color: #000;
	font-size: 30px;
}
.sample5{
	background-color: #ffffff;
  	color: #000;
	font-size: 25px;
}
.sample6 {
  background-color: #ffffff;
  color: #000;
  font-size: 16px;
}