* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;  */
}

body {
	margin: 0px;
    max-width: 100%;
    /* text-align: center; */
}
#banner{
	padding: 2px;
	background-color: #19da36;
	text-align: center;
	display: none;
}
.skytemp{
	display: flex;
	align-content: center;
	margin-left: 20px;
}
#temp{
	margin-left: 20px;
}
.cloud{
	text-align: right;
	margin-right: 10px;
}

.yello_btn{
	margin-top: 10px;
	line-height: 2em;
	padding: 5px;
	width: 10em;
	margin: 10px;
	border-radius: 10px;
	background-color: #19da36;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.theheader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.heading {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.logo{
	align-items: center;
	width: 100%;
}

.date {
	background-color: #141BE7;
	width: 100%;
	margin: 10px;
	margin-bottom: 20px;
	grid-column: 1/4;
	grid-row: 2;
}
header,
footer {
	text-align: center;
	color: white;
	background-color: #141BE7;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
footer {
	/* padding: .75rem; */
    /* margin-top: 10px; */
	font-size: 16px;
}

footer a {
	text-decoration: none;
}
/* main */
.home-main {
	padding: 10px;
	margin: 10px;
	display: grid;
}

.home-main section {
	text-align: center;
	border: 1px solid black;
	margin: 5px;
	background-color: lightgrey;
}

/* changed */
.home-main section > img{
	width: auto;
	height: 200px;
	margin: 0px 20px;
}
.hero {
	position: relative;
}
.hero h2 {
	position: absolute;
	top: 20px;
	left: 100px;
	background-color: #19da36;
	opacity: 0.7;
	padding: 15px;
	border-radius: 10px;
}
.hero img {
	width: 100%;
	height: 100%;
	margin: 0px;
}
.hero button{
	line-height: 2em;
	padding: 5px;
	width: 10em;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #19da36;
	position: absolute;
	bottom: 10px;
	  right: 10px;
}
.spoth {
	padding: 0px;
} 

.join,
.spothlight3 {
	display: none;
}

.spothlight1,
.spothlight2 {
	grid-area: auto;
}

nav button {
	margin: 0.2rem 2vw;
	background: black;
	font-size: 2rem;
	color: white;
	border: none;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 22px;
}

h2 {
	font-family: 'Lora', serif;
	font-size: 15px;
}

h3 {
	font-family: 'Lora', serif;
	font-size: .9rem;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	font-size: 16px;
}
nav ul {
	display: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1rem;
}

nav ul.open {
	display: block;
}

nav a:hover {
	background-color: #19da36;
}
#hamburgerBtn span:nth-child(1) {
	display: block;
}

#hamburgerBtn.open span:nth-child(1) {
	display: none;
}

#hamburgerBtn span:nth-child(2) {
	display: none;
}

#hamburgerBtn.open span:nth-child(2) {
	display: block;
}
.social{
	margin: 0;
	
}
.social img {
	width: 45px;
	
}
/* discover */

.discover-main{
	text-align: center;
}
.discover-main img {
	width: 400px;
    height: 400px;
	margin: 0px;
} 
.message{
	text-align: center;
}
/* form */
.join-main{
	margin: 20px;
}
.join-main h2{
    text-align: center;
}
.join-form {
    display: grid;
    gap: 10px;
    grid-template-columns: 20px 1fr 4fr 20px;
	background-color: aqua;
	padding: 10px;
}

label {
    text-align: right;
    grid-column: 2/3;
}

input, select, textarea {
    grid-column: 3/4;
    resize: none;
}

button {
    grid-column: 2/4;
    width: 20%;
    margin: 0 auto;
	cursor: pointer;
	background-color: #19da36;
	padding: 5px;
	border-radius: 10px;
}
.form-section h2{
	background-color: aqua;
}
.sidebar{
    align-items: center;
    border: solid #19da36;
    padding: 2px;
	background-color: grey;
} 

.thanks-page{
	display: block;
	padding: 10px;
	margin-bottom: 300px;
	align-items: center;
	text-align: center;
}
/*directory*/
.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bbb;
	text-align: center;
}

.menu button {
	padding: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border-radius: 5px;
	text-align: center;
	justify-items: center;
}

.cards div {
	width: auto;
	background-color: #ccc;
	box-shadow: 0 0 15px rgb(229, 186, 186); 
	border-radius: 10px;
	margin: 1.5rem;
	padding: 0.5rem;

}

.cards img {
    width: 300px;
    height: 250px;
}

.cards p { 
	margin: 5px;
	font-size: 20px;
}
.cards a { 
	margin: 5px;
	font-size: 20px;
}

.list p {
	margin: 0;
}
.list a {
	margin: 0;
} 
.list {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.list div {
	align-items: center;
	width: auto;
}

.grid div {
	flex-direction: column;
	text-align: center;
}

.grid div > * {
	margin: 0.1rem;
}

.list div {
	flex-direction: row;
	justify-content: left;
}

.list div > * {
	margin: 0 1rem;
	text-align: left;
}

.list div img {
	display: none; /* smaller viewports only */
}

/* contact page */

.contact-form { 
	margin: auto;
	width: 50%;
	min-width: 350px;
}
.contact-info { 
	align-items: center; 
	text-align: center;
}
.contact-info ul {
	list-style-type: none;
}
.contact-info h3 {
	font-size: 24px;
	padding: 2px;
} 
.contact-info h2{
	font-size: 32px;
	padding: 2px;
}

.submitBtn {
	background: #19da36;
	width: 40%;
	margin-left: 12px;
	text-align: center;
	padding: 1rem;
	border-radius: 10px;
	cursor: pointer;
}
form input {
	border: 1px solid #E5E5E5;
}
form label.top input:required {
	border-left: red solid 6px;
}
form label.top input:required:valid {
	border-left: #19da36 solid 6px;
}
.top input, .top textarea, label.top{
	display: block;
	font-size: 13px;
	text-align: left;
	width: 100%;
	padding: 16px;
	border-radius: 4px; 
}

