@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
		margin: 0px;
	}

	h2,
	p,
	footer {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1.1rem;
	}
	.home-main{
		max-width: 100%;
	}
	header,
	footer {
		max-width: 100%;
	} 

	nav {
		max-width: 100%;
	}

	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 auto; 
	}

	nav ul li a {
		font-size: 1.2rem;
	}
	.home-main {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(5, 0fr);
	}
	
	.hero {
		grid-column: 1/3;
		grid-row: 1;
	}
	
	.newsrelease {
		grid-column: 1/3;
		grid-row: 2;
	}
	
	.spoth {
		display: flex;
		grid-column: 1/4;
	}
	.spothlight1 {
		width: 50%;
	}
	
	.spothlight2 {
		width: 50%;
	}
	
	.join {
		display: inline;
		grid-column: 1/3;
		grid-row: 4;
	}
	
	.event {
		grid-column: 1/2;
		grid-row: 5;
	}
	
	.weather {
		grid-column: 2/3;
		grid-row: 5;
	}
	
	footer {
		display: grid;
		grid-template-columns: 0.1fr 1fr 1fr;
	}
	
	.footerlogo {
		grid-column: 1;
	}
	
	.information {
		grid-column: 2;
		text-align: left;
		padding-left: 10px;
	}
	.contact_info {
		grid-column: 3;
		
	}
	footer a {
		color: white;
	}
	
	hr{
		grid-column: 1/4;
	}
	p{
		grid-column: 1/4;
	}
	/*discover page */
	.discover-main{
		max-width: 100%;
	}
	.join-main{
		max-width: 100%;
	}
	/*DIRECTORY PAGE*/
	.list div{
        width: 100%;
		height: 100px;
		display: flex;
        flex-direction: row;
		padding: 2rem;
        justify-items: center;
        align-content: center;
    }
	/*CONTACT PAGE*/

	.contact-info {
		text-align: center;
	}

}